In [2]:
import mysql.connector as mysql 


conn = mysql.connect(
    host="localhost",
    port="3306",
    user="local",
    password="local",
    database="jobs_data"
)

In [6]:
import pandas as pd

scrolled_df = pd.read_sql_query("SELECT * FROM scrolled_jobs", conn)
jobs_df = pd.read_sql_query("SELECT * FROM jobs", conn)

scrolled_df = scrolled_df.drop_duplicates(subset=['job_id'])

C:\Users\aanur\AppData\Local\Temp\ipykernel_29272\1211333307.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  scrolled_df = pd.read_sql_query("SELECT * FROM scrolled_jobs", conn)
C:\Users\aanur\AppData\Local\Temp\ipykernel_29272\1211333307.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  jobs_df = pd.read_sql_query("SELECT * FROM jobs", conn)

In [29]:
scrolled_df.value_counts(['location'])

location
Bengaluru, Karnataka, India                      1609
Hyderabad, Telangana, India                       551
Pune, Maharashtra, India                          470
Chennai, Tamil Nadu, India                        319
Gurugram, Haryana, India                          304
                                                 ...
Khandala, Maharashtra, India                        1
Kharagpur, West Bengal, India                       1
Khed, Maharashtra, India                            1
Kolkata metropolitan area, West Bengal, India       1
Westchester, OH                                     1
Name: count, Length: 283, dtype: int64

In [30]:
jobs_df.seniority_level.value_counts()

seniority_level
Mid-Senior level    1556
Not Applicable       650
Entry level          403
Associate            329
Director              54
Internship            47
Executive             22
Name: count, dtype: int64

In [31]:
jobs_df.employment_type.value_counts()

employment_type
Full-time     2894
Contract       119
Internship      38
Part-time        6
Other            3
Temporary        1
Name: count, dtype: int64

In [38]:
jobs_df.job_function.value_counts()

job_function
Engineering and Information Technology                           1166
Information Technology                                            682
Information Technology and Engineering                            201
Engineering                                                       176
Other                                                             165
                                                                 ...
Engineering, Other, and Analyst                                     1
Information Technology, Business Development, and Engineering       1
Information Technology and Manufacturing                            1
Customer Service                                                    1
Engineering, Design, and Distribution                               1
Name: count, Length: 220, dtype: int64

In [39]:
jobs_df.industries.value_counts()

industries
IT Services and IT Consulting                                                            753
Software Development                                                                     473
Financial Services                                                                       160
Business Consulting and Services                                                         113
Information Services and Technology, Information and Internet                             90
                                                                                        ...
Electric Power Generation                                                                  1
Pharmaceutical Manufacturing and Software Development                                      1
Software Development, Banking, and IT Services and IT Consulting                           1
Personal Care Product Manufacturing                                                        1
Software Development, IT Services and IT Consulting, and Media and Telecommunications      1
Name: count, Length: 380, dtype: int64

In [41]:
scrolled_df.company.value_counts()

company
Microsoft             156
Accenture in India    146
Google                141
Turing                125
Amazon                123
                     ...
66degrees               1
Informatica             1
Atyeti Inc              1
Truecaller              1
FASCOR Inc.             1
Name: count, Length: 2067, dtype: int64